@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

html {
  user-select: none;
}

body {
  cursor: url("../assets/cursor.png");
}

.navbg {
  background-image: url("../assets/background.png");
}

body,
a,
button {
  cursor: none;
}
